.pale {
    background: #FBF9EC;
}

.brown {
    background: #5F3840;
}

.homepage {
    background-image: url('/static/images/homepage.jpg');
    height: 2000px;
    background-position: center;
    background-size: cover;
}

.banner {
    background-image: url('/static/images/homepage.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
}