{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}


<p>
    <a href="https://bookshop.org/books/{{ profile['volumeInfo']['title'] }}/{{ profile['volumeInfo']['industryIdentifiers'][1]['identifier']|join('') }}">Purchase this book.</a>
</p>


<button id="add_book">Add this book to your library</button>

<h2>{{ profile['volumeInfo']['title'] }}</h2>

{% if 'authors' in profile['volumeInfo'] %}
<p> {{ profile['volumeInfo']['authors']|join(' ') }}</p>
{% endif %}

<p>
    <img src="{{ profile['volumeInfo']['imageLinks']['thumbnail'] }}">
</p>

{% if 'categories' in profile['volumeInfo'] %}
<p>
    Genre: {{ profile['volumeInfo']['categories']|join(' ') }}
</p>
{% endif %}

<p>
    {{ desc_edit }}
</p>

{% if 'industryIdentifiers' in profile['volumeInfo'] %}
<p>
    ISBN: {{ profile['volumeInfo']['industryIdentifiers'][1]['identifier']|join('') }}
</p>
{% endif %}
<p id="volume_id" name="{{ profile['id'] }}"></p>


<script> // edit this script down to be more dry
    
    const addBookButton = document.querySelector('#add_book');

    function addBook() {
        window.location = `/addbook/${document.querySelector('#volume_id').attributes.name.value}`
        addBookButton.innerHTML = 'Book added';
    }
    
    addBookButton.addEventListener('click', addBook);

</script>
{% endblock %}