{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}


<p>
    <a href="https://bookshop.org/books?keywords={{ title }} {{ author }}">
        Purchase this book.
    </a>
</p>


<button id="add_book">Add this book to your library</button>

<h2>{{ title }}</h2>

<p> {{ author }}</p>


<p>
    <img src="{{ image }}">
</p>

<p>
    Genre: {{ genre }}
</p>

<p>
    {{ description }}
</p>

<p>
    ISBN: {{ isbn }}
</p>

<p id="volume_id" name="{{ volume_id }}"></p>


<script> // edit this script down to be more dry
    
    const addBookButton = document.querySelector('#add_book');

    function addBook() {
        window.location = `/addbook/${document.querySelector('#volume_id').attributes.name.value}`
        addBookButton.innerHTML = 'Book added';
    }
    
    addBookButton.addEventListener('click', addBook);

</script>
{% endblock %}