{% extends 'loggedin_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<main>
  <br>
  <div class="row align-items-md-stretch gy-4">
    <div class="col-4 m-5">
      <img src="{{ image }}" width="350px">
    </div>
    <div class="col-6 mt-5">
        <span>
          <h1>{{ title }}</h1>
        </span>
        <span>
          <h4>{{ author }}</h4>
        </span>
        <span>
          <br>
          {{ description }}
        </span>
        <span>
          <p>
            <br>
            Genre: {{ genre }}
          </p>
        </span>
        <h5>Book Options</h5>
        <details class="h-100px p-3 border mb-4 brown rounded-3 align-middle text-light">
          <summary>Purchase</summary>
          <br>
        <span>
          <div>
            <a class="text-light" href="https://bookshop.org/books?keywords={{ title }} {{ author }}">Purchase this book.</a>
          </div>
        </span>
      </details>
      <details class="h-100px p-3 border mb-4 brown rounded-3 align-middle text-light">
        <summary>Add to Library</summary>
        <span>
          <br>
          <div>
            <button id="add_book">Add this book to your library</button>
          </div>
        </span>
      </details>
    </div>
  </div>
</main>

<div id="volume_id" name="{{ volume_id }}"></div>

<script>
    function addBook() {
        window.location = `/addbook/${document.querySelector('#volume_id').attributes.name.value}`
        addBookButton.innerHTML = 'Book added';
    }
    
    document.querySelector('#add_book').addEventListener('click', addBook);
</script>

{% endblock %}