{% extends 'loggedin_base.html' %}

{% block title %}{{ viewed_user.username }}'s Library{% endblock %}

{% block body %}

<p>
    <img src="{{ viewed_user.profile_image }}" height="75px"> 
</p>

<p>
    <a href="/userprofile/{{ session['user_name'] }}">Go back to profile.</a>
</p>

<h2>{{ viewed_user.username }}'s Library</h2>

{% if not viewed_user.reviews %}
<div>Looks like this library is empty!</div>
{% endif %}

<div>
    <h2>Currently Reading</h2>
    {% if not current_reads %}
    <p>No current read!</p>
    {% endif %}
    {% for review in current_reads %}
        <a href="/user/userbook{{ review.book.isbn }}"><img src="{{ review.book.image }}" height="200px"></a>
    {% endfor %}
      </div>
<div>--------------------------------------------------</div>

{% for review in viewed_user.reviews %}
        <h3>{{ review.book.title }}</h3>
        <div>By {{ review.book.author }}</div>
        <div>
            <a href="/bookprofile/{{ review.book.volume_id }}">
            <img src="{{ review.book.image}}"></a>
            </div>
        {% if review.score == None %}
        <div>{{ viewed_user.username }}'s Rating: Not Yet Rated</div>
        {% else %}
        <div>{{ viewed_user.username }}'s Rating: {{ review.score }}</div>
        {% endif %}
        <div>--------------------------------------------------</div>
{% endfor %}

{% endblock %}