{% extends 'loggedin_base.html' %}

{% block title %}My Settings{% endblock %}

{% block body %}

<h1>Settings</h1>

<div>
    <h3>Upload a profile picture.</h3>
    <form action="/updateprofile/{{ session['user_name'] }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile-picture">
        <input type="submit">
    </form>
</div>

<div>--------------------------------------------------</div>

<div>
    <h3>Privacy Settings</h3>
    {% if user.profile_view == True %}
    <p> Your profile is currently public.</p>
    <p><a href="/updateprofileview">Make it private.</a></p>
    {% else %}
    <p> Your profile is currently private.</p>
    <p><a href="/updateprofileview">Make it public.</a></p>
    {% endif %}
</div>

<div>--------------------------------------------------</div>

<div>
    <h3>Update your password.</h3>
        <form action="/updatepassword/{{ session['user_name'] }}">
            <p>Current Password <input type="password" name="current-password"></p>
            <p>New Password <input type="password" name="new-password"></p>
            <p>Confirm New Password <input type="password" name="confirm-new-password"></p>
            <p>Password should contain at least one lowercase character, one uppercase character, and a number.</p>
            <p><input type="submit"></p>
        </form>
</div>

<div>--------------------------------------------------</div>

<div>
  <h3><a href="/deleteaccount">Delete account</a></h3>
</div>

{% endblock %}

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">  
</script>