{% extends 'base.html' %}

{% block body %}

<nav class="navbar sticky-top navbar-expand-md bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shelf-Help</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-nav">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Profile</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/userprofile/{{ session['user_name'] }}">Library</a></li>
            <li><a class="dropdown-item" href="/usercharts/{{ session['user_name'] }}">Charts</a></li>
            <li><a class="dropdown-item" href="/viewallusers">View All Users</a></li>
            <li><a class="dropdown-item" href="/usersettings/{{ session['user_name'] }}">Settings</a></li>
          </ul>
          <a class="nav-link" href="/logout">Log Out</a>
          <form class="d-flex" role="search" method="GET" action="/booksearchresults">
            <input class="form-control me-2" type="search" placeholder="Search for a Book" aria-label="Search" name="search-term">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

<h1>Shelf of {{ shelf }}s</h1>

{% if not reviews %}
<div>Looks like your shelf is empty!</div>
{% endif %}

{% for review in reviews %}
<h3>{{ review.book.title }}</h3>
<div>By {{ review.book.author }}</div>
<div>
    <a href="/user/userbook{{ review.book.isbn }}">
    <img src="{{ review.book.image}}"></a>
    </div>

{% if review.score == None %}
<div>My Rating: Not Yet Rated</div>
{% else %}
<div>My Rating: {{ review.score }}</div>
{% endif %}

<div>--------------------------------------------------</div>
{% endfor %}

{% endblock %}