{% extends 'loggedin_base.html' %}

{% block head %}
<style>
    .chart {
    width: 300px;
    height: 300px;
}
</style>

{% endblock %}

{% block body %}

<div class="banner p-5 mb-4">
  <div class=" container h-60 p-2 mt-3 brown rounded-3 text-center">
    <h1 class="text-light">My Charts</h1>
  </div>
</div>

<main class="container">
  <div class="row align-items-md-stretch gy-4 mb-4">
    <div class="col-xl-4 col-md-6">
      <div class="h-110 border p-4 brown rounded-3 text-center">
        <div>
          <div class="text-center text-light mb-4"><h3>To Be Read VS Have Read</h3></div>
          <canvas class="chart rounded mx-auto d-block" id="reads"></canvas>
        </div>
      </div>
    </div>

      <div class="col-xl-4 col-md-6">
        <div class="h-110 border p-4 brown rounded-3 text-center">
          <div>
            <div class="text-center text-light mb-4"><h3>Rated VS Unrated</h3></div>
            <canvas class="chart rounded mx-auto d-block" id="ratings"></canvas>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6">
        <div class="h-110 border p-4 brown rounded-3 text-center">
          <div>
            <div class="text-center text-light mb-4"><h3>Library Statistics</h3></div>
            <canvas class="chart rounded mx-auto d-block" id="stats"></canvas>
          </div>
          <div id="to_be_read" name="{{ to_be_read }}"></div>
          <div id="have_read" name="{{ have_read }}"></div>
          <div id="rated" name="{{ rated }}"></div>
          <div id="unrated" name="{{ unrated }}"></div>
          <div id="favorites" name="{{ favorites }}"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // TO BE READ VS. HAVE READ DOUGHNUT CHART -------------------------------
    const readsData = {
        labels: [
          'To Be Read',
          'Have Read'
        ],
        datasets: [{
          label: 'To Be Read vs. Have Read',
          data: [document.querySelector('#to_be_read').attributes.name.value, 
                document.querySelector('#have_read').attributes.name.value],
          backgroundColor: [
            'rgb(168, 82, 50)',
            'rgb(168, 135, 50)'
          ],
          hoverOffset: 4
        }]
      };
  
    const readsConfig = {
        type: 'doughnut',
        data: readsData,
        options: {
          plugins: {
            legend: {
              labels: {
                color: 'white'
              }
            }
          }
        }
      };

    const reads = new Chart(
      document.getElementById('reads'),
      readsConfig
    );


    // RATED VS. UNRATED DOUGHNUT CHART --------------------------------------
    const ratingsData = {
        labels: [
          'Rated',
          'Unrated'
        ],
        datasets: [{
          label: 'Rated vs. Unrated',
          data: [document.querySelector('#rated').attributes.name.value, 
                document.querySelector('#unrated').attributes.name.value],
          backgroundColor: [
            'rgb(60, 130, 130)',
            'rgb(60, 95, 130)'
          ],
          hoverOffset: 4
        }]
      };

    const ratingsConfig = {
    type: 'doughnut',
    data: ratingsData,
    options: {
      plugins: {
        legend: {
          labels: {
            color: 'white'
          }
        }
      }
    }
    };

    const ratings = new Chart(
    document.getElementById('ratings'),
    ratingsConfig
    );


    // BOOK STATS BAR CHART --------------------------------------------------
    const statsData = {
      labels: [
        "To Be Read", 
        "Have Read", 
        "Rated", 
        "Unrated", 
        "Favorites"
        ],
      datasets: [{
        label: "Library Statistics",
        data: [document.querySelector('#to_be_read').attributes.name.value, 
                document.querySelector('#have_read').attributes.name.value,
                document.querySelector('#rated').attributes.name.value,
                document.querySelector('#unrated').attributes.name.value,
                document.querySelector('#favorites').attributes.name.value],
        backgroundColor: [
            'rgba(168, 50, 50)',
            'rgba(168, 82, 50)',
            'rgba(168, 135, 50)',
            'rgba(60, 130, 130)',
            'rgba(60, 95, 130)'
            ],
            borderColor: [
            'white',
            'white',
            'white',
            'white',
            'white'
            ],
            borderWidth: 1
    }]
    };

    const statsConfig = {
        type: 'bar',
        data: statsData,
        options: {
          scales: {
            y: {
              ticks: {
                color:'white'
              }
            },
            x: {
              ticks: {
                color:'white'
              }
            }
          },
          plugins: {
            legend: {
              display: false,
              labels: {
                color: 'white'
              }
            }
          },
          maintainAspectRatio: true,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };

    const stats = new Chart(
    document.getElementById('stats'),
    statsConfig
    );
  </script>

{% endblock %}