{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Profile{% endblock %}

{% block body %}

<h1>Welcome back, {{ user.fname }}!</h1>

<button id="log_out">Log Out</button>

<p>
    <a href='/findbookstore'>Find a local bookstore.</a>
</p>

<form method="GET" action="/booksearchresults">
    <p>
        Search for a Book: <input type="text" name="search_term">
        <input type="submit">
    </p>
</form>

<p>
    <form action="/sortby">
        <label for="sort-select">Sort Books By:</label>

        <select name="sort" id="sort-select">
            <option value="alphabetical by title">Alphabetical by Title</option>
            <option value="alphabetical by author">Alphabetical by Author</option>
            <option value="most recently added">Most Recently Added</option>
            <option value="least recently added">Least Recently Added</option>
        </select>

        <input type="submit">
    </form>
</p>

<h2>My Library</h2>

{% if not user.reviews %}
<p>Looks like your library is empty!</p>
{% endif %}

{% for review in user.reviews %}
        <h3>{{ review.book.title }}</h3>
        <p>By {{ review.book.author }}</p>
        <p>
            <a href="/user/userbook{{ review.book.isbn }}">
            <img src="{{ review.book.image}}"></a>
        </p>
        <p>
            --------------------------------------------------
        </p>
{% endfor %}

<script> // edit this script down to be more dry
    
    const logOutButton = document.querySelector('#log_out');

    function logOut() {
        window.location = '/logout';
    }
    
    logOutButton.addEventListener('click', logOut);


    const sortBySelect = document.querySelector('#sort-select');

    function sortBy() {
        window.location = ('/sortby');
    }

    sortBySelect.addEventListener('submit', sortBy) 

</script>

{% endblock %}