{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<p>
<a href="/userprofile/{{ session['user_name'] }}">Go back to profile.</a>
</p>

<button id="remove_book">Remove book from library</button>

<!-- <p>
<form>
    <label for="category-select">Add book to shelf:</label>

    <select name="shelf" id="shelf-select">
        <option value="to-be-read">To Be Read</option>
        <option value="have-read">Have Read</option>
        <option value="favorites">Favorites</option>
    </select>
    <input type="submit">
</form>
</p> -->

<h1>{{ book.title }}</h1>

<p>{{ book.author }}</p>

<img src="{{ book.image }}">

<p>{{ book.description }}</p>

<p id="isbn" name="{{ book.isbn }}">{{ book.isbn }}</p>

<script> // edit this script down to be more dry
    
    const removeBookButton = document.querySelector('#remove_book');

    function removeBook() {
        window.location = (`/removebook${document.querySelector('#isbn').attributes.name.value}`)
    }
    
    removeBookButton.addEventListener('click', removeBook);

</script>

{% endblock %}