{% extends 'base.html' %}

{% block title %}My Settings{% endblock %}

{% block body %}

<p>
    <a href="/userprofile/{{ session['user_name'] }}">Go back to profile.</a>
</p>

<h1>Settings</h1>

<div>
    <h3>Upload a profile picture.</h3>
    <form action="/updateprofile/{{ session['user_name'] }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile-picture">
        <input type="submit">
    </form>
</div>

<div>
    <h3>Do you want your account to be public or private?</h3>
    <form action="/updateprofileview/{{ session['user_name'] }}">
        <label for="view-select"></label>

        <select name="profile-view" id="view-select">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>

        <input type="submit">
    </form>
</div>

<div>
    <h3>Update your password.</h3>
        <form action="/updatepassword/{{ session['user_name'] }}">
            Current Password <input type="text" name="current-password">
            New Password <input type="text" name="new-password">
            <input type="submit">
        </form>

</div>

<div>
    <h3>Set color theme.</h3>
</div>

{% endblock %}