{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Profile{% endblock %}

{% block head %}{% endblock %}
{% block body %}

<nav class="navbar sticky-top navbar-expand-md bg-light">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="/">Shelf-Help</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-nav">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Profile</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/userprofile/{{ session['user_name'] }}">Library</a></li>
            <li><a class="dropdown-item" href="/usercharts/{{ session['user_name'] }}">Charts</a></li>
            <li><a class="dropdown-item" href="/viewallusers">View All Users</a></li>
            <li><a class="dropdown-item" href="/usersettings/{{ session['user_name'] }}">Settings</a></li>
          </ul>
          <a class="nav-link" href="/logout">Log Out</a>
          <form class="d-flex" role="search" method="GET" action="/booksearchresults">
            <input class="form-control me-2" type="search" placeholder="Search for a Book" aria-label="Search" name="search-term">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

<div>
  <img src="{{ user.profile_image }}" height="75px">
</div>

<div class="container">
<h1>Welcome back, {{ user.fname }}!</h1>
<div>

  <a href="/favoritesshelf">Favorites</a>
  <a href="/tobereadsshelf">To Be Read</a>
  <a href="/havereadsshelf">Have Read</a>


    <form action="/sortby">
        <label for="sort-select">Sort Books By:</label>
        <select name="sort" id="sort-select">
            <option value="alphabetical by title">Alphabetical by Title</option>
            <option value="alphabetical by author">Alphabetical by Author</option>
            <option value="most recently added">Most Recently Updated</option>
            <option value="least recently added">Least Recently Updated</option>
        </select>
        <input type="submit">
    </form>
</div>
<div>
    <form action="/shelf">
        <label for="shelf">Go to Shelf:</label>
        <select name="shelf" id="shelf-select">
            <option value="To Be Read">To Be Read</option>
            <option value="Have Read">Have Read</option>
            <option value="Favorite">Favorites</option>
        </select>
        <input type="submit">
    </form>
</divv>

<div>What should I read next?<button id="next-read">Get next read</button></div>

<div id="next-read-text"></div>

<div>--------------------------------------------------</div>

<div>
    <h2>Currently Reading</h2>
    {% if not current_reads %}
    <div>No current read!</div>
    {% endif %}
    {% for review in current_reads %}
        <a href="/user/userbook{{ review.book.isbn }}"><img src="{{ review.book.image }}" height="200px"></a>
    {% endfor %}
</div>

<div>--------------------------------------------------</div>

<h2>My Library</h2>
<br>
{% if not user.reviews %}
<div>Looks like your library is empty!</div>
{% endif %}

<div class="row gy-5">
{% for review in user.reviews %}
    <div class="col-6 col-md-4 col-lg-3">
        <a href="/user/userbook{{ review.book.isbn }}">
        <img src="{{ review.book.image}}" height="250px"></a>  
    </div>
{% endfor %}
</div>


<script> 
    function getNextRead(evt) {
        fetch('/getnextread')
        .then((response) => response.text())
        .then((nextRead) => document.querySelector('#next-read-text').innerHTML = `<img src=${nextRead} />`)
        };

    document.querySelector('#next-read').addEventListener('click', getNextRead)
</script>

{% endblock %}