{% extends 'base.html' %}

{% block title %}My Settings{% endblock %}

{% block body %}

<nav class="navbar sticky-top navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bookshelf Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <div class="navbar-nav">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Profile</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/userprofile/{{ session['user_name'] }}">Library</a></li>
          <li><a class="dropdown-item" href="/usercharts/{{ session['user_name'] }}">Charts</a></li>
          <li><a class="dropdown-item" href="/viewallusers">View All Users</a></li>
          <li><a class="dropdown-item" href="/usersettings/{{ session['user_name'] }}">Settings</a></li>
        </ul>
        <a class="nav-link d-flex justify-content-end"" href="/logout">Log Out</a>
        <form class="d-flex" role="search" method="GET" action="/booksearchresults">
          <input class="form-control me-2" type="search" placeholder="Search for a Book" aria-label="Search" name="search-term">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<h1>Settings</h1>

<div>
    <h3>Upload a profile picture.</h3>
    <form action="/updateprofile/{{ session['user_name'] }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile-picture">
        <input type="submit">
    </form>
</div>

<div>
    <h3>Privacy Settings</h3>
    {% if user.profile_view == True %}
    <p> Your profile is currently public.</p>
    <p><a href="/updateprofileview">Make it private.</a></p>
    {% else %}
    <p> Your profile is currently private.</p>
    <p><a href="/updateprofileview">Make it public.</a></p>
    {% endif %}

    
     <!-- <form action="/updateprofileview/{{ session['user_name'] }}">
        <label for="view-select"></label>

        <select name="profile-view" id="view-select">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>

        <input type="submit">
    </form> -->
</div>

<div>
    <h3>Update your password.</h3>
        <form action="/updatepassword/{{ session['user_name'] }}">
            <p>Current Password <input type="password" name="current-password"></p>
            <p>New Password <input type="password" name="new-password"></p>
            <p>Confirm New Password <input type="password" name="confirm-new-password"></p>
            <p><input type="submit"></p>
        </form>

</div>

{% endblock %}

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">  
</script>