{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Profile{% endblock %}

{% block head %}{% endblock %}
{% block body %}


<h1>Welcome back, {{ user.fname }}!</h1>

<a href="/logout">Log Out</a>

<form method="GET" action="/booksearchresults">
    <p>
        Search for a Book: <input type="text" name="search_term">
        <input type="submit">
    </p>
</form>

<p>
    <form action="/sortby">
        <label for="sort-select">Sort Books By:</label>

        <select name="sort" id="sort-select">
            <option value="alphabetical by title">Alphabetical by Title</option>
            <option value="alphabetical by author">Alphabetical by Author</option>
            <option value="most recently added">Most Recently Updated</option>
            <option value="least recently added">Least Recently Updated</option>
        </select>

        <input type="submit">
    </form>
</p>
<p>
    <form action="/shelf">
        <label for="shelf">Go to Shelf:</label>

        <select name="shelf" id="shelf-select">
            <option value="To Be Read">To Be Read</option>
            <option value="Have Read">Have Read</option>
            <option value="Favorite">Favorites</option>
        </select>

        <input type="submit">
    </form>
</p>

<p>
    <a href="/usercharts/{{ user.username }}">See my charts.</a>
</p>

<p>
    What should I read next?
    <button id="next-read">Get next read</button>
</p>

<p id="next-read-text"></p>

<p>
    --------------------------------------------------
</p>

<div id="root"></div>


<!-- <h2>My Library</h2>

{% if not user.reviews %}
<p>Looks like your library is empty!</p>
{% endif %}

{% for review in user.reviews %}
        <h3>{{ review.book.title }}</h3>
        <p>By {{ review.book.author }}</p>
        <p>
            <a href="/user/userbook{{ review.book.isbn }}">
            <img src="{{ review.book.image}}"></a>
        </p>

        {% if review.score == None %}
        <p>My Rating: Not Yet Rated</p>
        {% else %}
        <p>My Rating: {{ review.score }}</p>
        {% endif %}

        <p>
            --------------------------------------------------
        </p>
{% endfor %} -->

{% endblock %}

{% block js %}

<script type="text/jsx" src="/static/js/profile.jsx"></script>

<script> 
    
    function getNextRead(evt) {
        fetch('/getnextread')
        .then((response) => response.text())
        .then((nextRead) => document.querySelector('#next-read-text').innerText = nextRead)
        };

    document.querySelector('#next-read').addEventListener('click', getNextRead)

</script>

{% endblock %}