{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<p>
<a href="/userprofile/{{ session['user_name'] }}">Go back to profile.</a>
</p>

<button id="remove_book">Remove book from library</button>

<p>
<form id="category-form">
    <label for="category-select">Add book to shelf:</label>

    <select name="category" id="category-select">
        <option value="To Be Read">To Be Read</option>
        <option value="Have Read">Have Read</option>
        <option value="Favorites">Favorites</option>
    </select>
    <input type="submit">
</form>
</p>

<p>
    <form action="/ratebook{{ book.isbn }}">
        <label for="rating-select">Rate this book:</label>

        <select name="rating" id="rating-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit">
    </form>
</p>

<p id="book-change-text"></p>

<h1>{{ book.title }}</h1>

<p>{{ book.author }}</p>

{% if review.score == None %}
<p>My Rating: Not Yet Rated</p>
{% else %}
<p>My Rating: {{ review.score }}</p>
{% endif %}

<img src="{{ book.image }}">

<p>Genre: {{ book.genre }}</p>

{% if review.to_be_read == true %}
<p>
    <h5>To Be Read</h5>
</p>
{% endif %}

{% if review.to_be_read == false %}
<p>
    <h5>Have Read</h5>
</p>
{% endif %}

{% if review.favorites == true %}
<p>
    <h5>Favorites</h5>
</p>
{% endif %}

<p>{{ book.description }}</p>

<p id="isbn" name="{{ book.isbn }}">ISBN: {{ book.isbn }}</p>

<script> 
    
    const removeBookButton = document.querySelector('#remove_book');
    
    removeBookButton.addEventListener('click', () => {
        window.location = `/removebook${document.querySelector('#isbn').attributes.name.value}`;
    });


    function categorizeBook(evt){ // need to work on this some more, bookChangeMessage not appearing
        evt.preventDefault();
        fetch(`/categorizebook${document.querySelector('#isbn').attributes.name.value}/${document.querySelector('#category-select').value}`)
        .then((response) => response.text())
        .then((bookChangeMessage) => { 
            document.querySelector('#book-change-text').innerText = bookChangeMessage;
            })       
    }

    document.querySelector('#category-form').addEventListener('submit', categorizeBook);
</script>

{% endblock %}