{% extends 'loggedin_base.html' %}

{% block body %}

<div class="banner p-5 mb-4">
  <div class=" container h-60 p-2 mt-3 brown rounded-3 text-center">
    <h1 class="text-light">{{ shelf }}s</h1>
  </div>
</div>

<main class="container">

{% if not reviews %}
<div>Looks like your library is empty!</div>
{% endif %}

<div class="row align-items-md-stretch gy-4 mb-4">
{% for review in reviews %}
    <div class="col-xl-2 col-md-3 col-sm-6">
      {% if review.current_read == True %}
      <div class="h-100 p-3 border brown rounded-3 text-center align-middle">
        <p class="text-light">Currently Reading</p>
        <a href="/user/userbook{{ review.book.isbn }}">
          <img src="{{ review.book.image}}" class="rounded mx-auto d-block"></a  
      </div> 
      {% endif %}
      {% if review.current_read == False %}
      <div class="h-100 p-3 border brown rounded-3 text-center">
        <a href="/user/userbook{{ review.book.isbn }}">
          <img src="{{ review.book.image}}" class="rounded mx-auto d-block"></a>  
      </div>
      {% endif %}
    </div>
{% endfor %}
</div>
</main>

{% endblock %}