{% extends 'base.html' %}

{% block title %}{{ viewed_user.username }}'s Library{% endblock %}

{% block body %}

<nav class="navbar sticky-top navbar-expand-md bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shelf-Help</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-nav">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Profile</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/userprofile/{{ session['user_name'] }}">Library</a></li>
            <li><a class="dropdown-item" href="/usercharts/{{ session['user_name'] }}">Charts</a></li>
            <li><a class="dropdown-item" href="/viewallusers">View All Users</a></li>
            <li><a class="dropdown-item" href="/usersettings/{{ session['user_name'] }}">Settings</a></li>
          </ul>
          <a class="nav-link" href="/logout">Log Out</a>
          <form class="d-flex" role="search" method="GET" action="/booksearchresults">
            <input class="form-control me-2" type="search" placeholder="Search for a Book" aria-label="Search" name="search-term">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

<p>
    <img src="{{ viewed_user.profile_image }}" height="75px"> 
</p>

<p>
    <a href="/userprofile/{{ session['user_name'] }}">Go back to profile.</a>
</p>

<h2>{{ viewed_user.username }}'s Library</h2>

{% if not viewed_user.reviews %}
<p>Looks like this library is empty!</p>
{% endif %}

<p>
    <h2>Currently Reading</h2>
    {% if not current_reads %}
    <p>No current read!</p>
    {% endif %}
    {% for review in current_reads %}
        <a href="/user/userbook{{ review.book.isbn }}">
            <img src="{{ review.book.image }}" height="200px">
        </a>
    {% endfor %}
</p>

<p>
    --------------------------------------------------
</p>

{% for review in viewed_user.reviews %}
        <h3>{{ review.book.title }}</h3>
        <p>By {{ review.book.author }}</p>
        <p>
            <a href="/bookprofile/{{ review.book.volume_id }}">
            <img src="{{ review.book.image}}"></a>
        </p>

        {% if review.score == None %}
        <p>{{ viewed_user.username }}'s Rating: Not Yet Rated</p>
        {% else %}
        <p>{{ viewed_user.username }}'s Rating: {{ review.score }}</p>
        {% endif %}

        <p>
            --------------------------------------------------
        </p>
{% endfor %}

{% endblock %}