{% extends 'loggedin_base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

<main>
  <div id="book-change-text"></div>
  <br>
  <div class="row align-items-md-stretch gy-4">
    <div class="col-4 m-5">
      <img src="{{ book.image }}" width="350px">
    </div>
    <div class="col-6 mt-5">
        <span>
          <h1>{{ book.title }}</h1>
        </span>
        <span>
          <h4>{{ book.author }}</h4>
        </span>
        <span>
          <br>
          {{ book.description }}
        </span>
        <span>
          <p>
            <br>
            Genre: {{ book.genre }}
          </p>
        </span>
        <span>
          <div id="isbn" name="{{ book.isbn }}">ISBN: {{ book.isbn }}</div>
        </span>
        <span>
          <br>
            <h5>Book Options</h5>
            <details class="h-100px p-3 border brown rounded-3 align-middle text-light">
              <summary>Read Status</summary>
              <span>
                <div> 
                  {% if review.current_read == False %}
                  <a class="text-light" href="/currentread/{{ book.isbn }}">Set as current read.</a>
                  {% endif %}
                  {% if review.current_read == True %}
                  <a class="text-light" href="/currentread/{{ book.isbn }}">Finished reading.</a>
                  {% endif %}
              </div>
            </span>
            </details>
            <br>
            <details class="h-100px p-3 border brown rounded-3 align-middle text-light">
              <summary>Add to Shelf</summary>
              <span>
                <div>
                  <form id="category-form">
                      <label for="category-select"></label>
                      <select name="category" id="category-select">
                          <option value="To Be Read">To Be Read</option>
                          <option value="Have Read">Have Read</option>
                          <option value="Favorites">Favorites</option>
                      </select>
                      <input type="submit">
                  </form>
                </div>
              </span>
            </details>
            <br>
        <span>
          <details class="h-100px p-3 border brown rounded-3 align-middle text-light">
            <summary>
            {% if review.score == None %}
            My Rating: Not Yet Rated
            {% else %}
            My Rating: {{ review.score }}
            {% endif %}
          </summary>
          <div>
            <form action="/ratebook{{ book.isbn }}">
                <label for="rating-select">Rate this book:</label>
                <select name="rating" id="rating-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit">
            </form>
          </div>
        </span>
      </details>
      <br>
      </span>
      <details class="h-100px p-3 border mb-4 brown rounded-3 align-middle text-light">
        <summary class="mb-1">Remove from Library</summary>
        <button id="remove_book">Remove book from library</button>
      </details>
    </span>
    </div>
  </div>
</main>

<script> 
    document.querySelector('#remove_book').addEventListener('click', () => {
        window.location = `/removebook${document.querySelector('#isbn').attributes.name.value}`;
    });

    function categorizeBook(evt){
        evt.preventDefault();
        fetch(`/categorizebook${document.querySelector('#isbn').attributes.name.value}/${document.querySelector('#category-select').value}`)
        .then((response) => response.text())
        .then((bookChangeMessage) => { 
            document.querySelector('#book-change-text').innerText = bookChangeMessage;
            })       
    }

    document.querySelector('#category-form').addEventListener('submit', categorizeBook);
</script>

{% endblock %}