{% if session %}
{% extends 'loggedin_base.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}

{% block title %}Welcome to Shelf-Help{% endblock %}

{% block body %}

{% if not session %}
<nav class="navbar sticky-top navbar-expand-md bg-dark text-light navbar-dark">
  <div class="container-fluid d-flex">
    <div class="px-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
      </svg>
    </div>
    <a class="navbar-brand p-2 flex-grow-1" href="/">Shelf-Help</a>
      <a class="nav-link p-2" href="/login">Log In </a>
      <a class="nav-link p-2" href="/createaccount">Create Account</a>
  </div>
</nav>
{% endif %}

<main class="homepage">
  <br>
  <div class="p-4 pale rounded-3 mt-4 container">
    <div class="container-fluid py-2">
      <h1>Welcome to Shelf-Help!</h1>
      <div>
        Shelf-Help is a personal library tracker. Gone are the days of picking up used copies at your favorite bookstore only to realize you already had them at home. Users can search for books to add to their library as well as rate, sort, and categorize them. Can't decide what to read? The click of a button offers up a suggestion from the 'To Be Read' shelf. Users can label their current reads and share their library with others. Charts are available to visualize library statistics like 'Have Read Vs To Be Read'. Searched a book but don't know where to find it? A link is included in every search result to purchase from Bookshop.org, a website that focuses on putting profit back into the hands of independent bookstores.      </div>
    </div>
    </div>
    <br>
    <div class="p-4 pale rounded-3 mt-4 container">
      <div class="container-fluid py-2 gy-4">
        <h1 class="mb-4">About the Creator</h1>
        <div class="row container-fluid">
          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <img class="mb-4 rounded mx-auto d-block"" src="/static/images/creator.JPG" height="175px">
          </div>
          <div class="mx-auto col-sm-12 col-md-7 col-lg-9 col-xl-9">
            Rebecca Gordon graduated from Western Oregon University with a BFA in Tech Theatre Production. They have worked as a stage manager and properties designer. They were driven by finding solutions to problems in a collaborative environment and providing care for others in a management role. As an operations manager for a small business that was rapidly growing, they often ran into problems with the site's server crashing during large product launches. This began an interest in how to optimize and prevent unhappy clients. For them, each work experience has been centered on creating an environment where folks always feel welcome and heard. They bring life experiences as an openly queer person and strive to bring more diversity to the tech world.          </div>
        </div>
      </div>
</main>

{% endblock %}

{% block after_body %}
{% endblock %}