{% extends 'base.html' %}

{% block title %}Welcome Page{% endblock %}

{% block body %}

<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="/">Shelf-Help</a>
      <a class="nav-link" href="/login">Log In </a>
      <a class="nav-link" href="/createaccount">Create Account</a>
  </div>
</nav>

<h1>This is the Welcome Page. Eventually I'll put a description here.</h1>

{% endblock %}

{% block after_body %}
{% endblock %}